:root{
    --branco-principal: #e6e6e6;
    --cinza-secundario: #9c9c9c;
    --cor-de-fundo: #141414;
    --branco-ternario: #e6e6e6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    overflow: hidden;
}

.escolha{
    display: grid;
    place-items: center;
}

.escolha-texto{
    font-size: 50px;
    font-weight: 500;
    margin-top: 2rem;
    animation-name: slidein;
    animation-duration: 2s;
}

/*@keyframes slidein {
    from{
        margin-top: 50px;
    }
    to{
        margin-top: 100px;
    }
}*/

.escolha-perfil{
    display: flex;
    text-align: center;
    justify-content: center;
}

.perfil-texto{
    font-size: 20px;
    font-weight: 200;
    color: var(--cinza-secundario);
    text-decoration: none;
    margin-top: 0.5rem;
}

.perfil-foto{
    width: 150px;
    border-radius: 10px;
}

li:hover .perfil-foto, li:hover .mais{
    border: 5px solid var(--branco-ternario);
    cursor: pointer;
}

.escolha-lista{
    list-style: none;
    margin: 5rem 2rem;
}

.mais:hover{
    cursor:pointer;
}

.botao{
    font-size: 20px;
    font-weight: 400;
    background: none;
    color: var(--cinza-secundario);
    border: 2px solid  var(--cinza-secundario);
}

.botao:hover{
    cursor: pointer;
    border: 2px solid var(--branco-principal);
    color: var(--branco-ternario);
}